logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
/docs
/resources/assets/window
/resources/assets/H5
/resources/assets/android
/resources/assets/ios
/resources/assets/miniprogram
/resources/assets/webapi
/resources/assets/web
/resources/assets/pdf